{% if not definition.INCLUDED_JXTOOLSJS %}
	{% INCLUDEJS '@threedi_topicshierarchy/lib/jxtools.js' %}
	{% DEFINE INCLUDED_JXTOOLSJS = true %}
{% endif %}

{% if topicrow.S_FIRST_ROW or not topicrow.S_TOPIC_TYPE_SWITCH %}
	<li id="my_list_inner_hidden_container_{topicrow.S_TOPIC_TYPE}" jxdom-closest="div.inner" jxdom-find="dl.row-item > dt :first" jxdom-action="replace" > 
		<div class="list-inner">
			{% if S_DISPLAY_ACTIVE and topicrow.S_POST_STICKY %}{{ lang('TH_ACTIVE_STICKIES') }}
			{% elseif S_DISPLAY_ACTIVE %}{{ lang('TH_ACTIVE_TOPICS') }}
			{% elseif topicrow.S_POST_SUB_GLOBAL %}{{ lang('TH_SUB_GLOBAL') }}
			{% elseif topicrow.S_POST_GLOBAL %}{{ lang('TH_GLOBAL_ANNOUNCEMENTS') }}
			{% elseif topicrow.S_POST_ANNOUNCE %}{{ lang('TH_ANNOUNCEMENTS') }}
			{% elseif topicrow.S_POST_STICKY %}{{ lang('TH_STICKIES') }}
			{% else %}{{ lang('TH_TOPICS') }}
			{% endif %}
		</div>
	</li>
{% endif %}
